<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
            </div>
        </div>
        <div class="container">
            <form action="/pr02" method="post">
                Book
                <input type="text" name="title" id="title"><br><br> Summary
                <textarea name="summary" id="summary" cols="25" rows="10"></textarea><br> <br>
                <button type="submit">SUBMIT</button>
            </form>

            <hr> Book:
            <%= book %>
                <br> Summary:
                <%= summary %>
        </div>


</body>

</html>